.buttons-parent {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: center;
    margin: auto;
    gap: 100px;
    align-items: center;
}
.button-styled{
    font-family: 'Poppins';
    padding: 25px 5px;
    background-color: #050801;
    color: #fb8205;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
    width: 200px;
    box-shadow: 0 0px 10px 1px #fb82058f;
    text-transform: capitalize;
}
.button-styled:hover{
    background: #ff4500;
    color: #050801;
    box-shadow: 0 0 5px #ff4500,
                0 0 25px #ff4500,
                0 0 50px #ff4500,
                0 0 200px #ff4500;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
@media (max-width:500px){
    .button-styled{
        padding: 15px 15px;
    }
    .buttons-parent{
        gap: 25px;
    }
}