.films-main{
    background-image: url(../../assets/our_films.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;   
     display: flex;
        justify-content: center;
        align-items: end;

    &-buttons{
       display: flex;
       padding: 30px;
       gap: 10px;

    }
}