.rewardsprogram-main{
    background-image: url(../../assets/rewards_program.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;   
}