.sitemap-main{
    background-image: url(../../assets/site_map.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;   
    display: flex;
    justify-content: end;
    align-items: start;
    padding: 20px;
    &-buttons-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

    }

    
}

