*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
//   font-family: Poppins;
}

// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");


//PAGES
@import url("./styles/Pages/mainPage.scss");
// @import url("./styles/Pages/stateHome.scss");
@import url("./styles/Pages/company.scss");
@import url('./styles/Pages/ourStudio.scss');
@import url("./styles/Pages/stateHome.scss");
@import url("./styles/Pages/prodHome.scss");
@import url("./styles/Components/Button.scss");
@import url("./styles/Pages/team.scss");
@import url("./styles/Pages/manAndMountain.scss");

//COMPONENTS
// @import url("./styles/Components/footer.scss");
